@model IEnumerable<Toastmasters.Web.Models.Absence>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MemberID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
        </tr>
}
    </tbody>
</table>
