@model IEnumerable<Toastmasters.Web.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class=row>
    <div class="col-md-3">
	    <a asp-action="Create">Create New</a>
	</div>
    <div class="col-md-3">
	    <a asp-action="GenerateFiles">Generate Files</a>
	</div>
    <div class="col-md-3">
	    <a asp-action="GetAgenda">Get Agenda</a>
	</div>
	<div class="col-md-3">
	    <a asp-action="GetEmail">Get Email</a>
	</div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toastmaster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableTopics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerII)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralEvaluator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluatorI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluatorII)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inspirational)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grammarian)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MeetingID">@Html.DisplayFor(modelItem => item.MeetingDate)</a> 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toastmaster.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableTopics.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakerI.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeakerII.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeneralEvaluator.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluatorI.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluatorII.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inspirational.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Joke.FirstInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timer.FirstInitial)
                <td>
                    @Html.DisplayFor(modelItem => item.Grammarian.FirstInitial)
                </td>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.MeetingID" >X</a>
                </td>
            </tr>
        }
    </tbody>
</table>
