@model IEnumerable<Toastmasters.Web.Models.Club>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClubName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClubNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.District)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingRoom)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingRoom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClubID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClubID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
